body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: Arial;
    background-image: url('../img/BG_1_app.jpg');
    COLOR: #000;
}
ul {
    text-align: left;
}
ol {
    text-align: left;
}
#contentwrap {
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 900px;
    min-height: 400px: text-align: left;
}
#contentwrap p {
    text-align: left;
}
#content {
    background-color: #FFFFFF;
    margin-top: 10px;
    width: 880px;
    min-height: 400px: text-align: left;
    padding: 10px;
    border: 3px solid black;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}
form span {
    color: red;
    font-size: 150%;
}

.data{
  text-align: left;
}
.full-width{
  width: 100%
}
.center{
  text-align: center;
}
.center-element{
  text-align: center;
  margin: auto;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
.button-align-center{
  text-align: center;
}
.button-action{
  text-align: right;
  display: inline-block;
  padding-right: 10px;
}
.sctcc-button{
  color: white;
  background-color: green;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-color: rgb(51, 102, 0);
}
.delete-button{
  color: white;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-color: rgb(128, 0, 0);
}
.inline-form{
  display: inline-block;
}
.four-col{
  column-count: 4;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
  column-gap: 1px;
    -webkit-column-gap: 1px; /* Chrome, Safari, Opera */
    -moz-column-gap: 1px; /* Firefox */
  column-width: 40px;
    -webkit-column-width: 40px;
    -moz-column-width: 40px;
}
.four-col div{
  break-before: column;
}
.three-col{
  column-count: 3;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
  column-gap: 40px;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
}
.two-col{
  column-count: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
  column-gap: 40px;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
}
